<html>
    <head>
        <link rel="stylesheet" href="meucss.css">
    </head>
    <body>
        <h1>Flexbox Basico</h1>
        <h3>Flex-direction column</h3>
        <div class="box-column">
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
        </div>

        <hr>

        <h3>Flex-direction row</h3>
        <div class="box-row">
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
        </div>

        <hr>
        
        <h3>Flex-direction column-reverse</h3>
        <div class="box-column-reverse">
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
        </div>

        <hr>

        <h3>Flex-direction row-reverse</h3>
        <div class="box-row-reverse">
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
        </div>

        <hr>

        <h3>wrap row</h3>
        <div class="box-wrap-row">
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
        </div>

        <h3>wrap column</h3>
        <div class="box-wrap-column">
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
            <div class="item">Um</div>
            <div class="item">Dois</div>
            <div class="item">Três</div>
        </div>

        <hr>

        <h3>flex</h3>
        <div class="box-flex">
            <div class="item-one">Um</div>
            <div class="item-two">Dois</div>
            <div class="item-three">Três</div>
        </div>
        
        <hr>

        <h3>align-items</h3>
        <div class="box-align-items">
            <div class="item">Um</div>
        </div>
        
        <hr>

        <h3>justify-content</h3>
        <div class="box-justify-content">
            <div class="item">Um</div>
        </div>
        
        <hr>

    </body>
</html>